<main>
  <h2>Angular Component</h2>
  <app-ghost-todo-form-comp></app-ghost-todo-form-comp>
  <ng-container *ngIf="store.count; then showData; else noData"></ng-container>
  <ng-template #noData>
    <p>Get started, write your first Todo item now...</p>
  </ng-template>

  <ng-template #showData>
    <ul>
      <ng-container
        *ngFor="let todo of store.items$ | async; trackBy:trackByTodo"
      >
        <app-ghost-todo-item-comp [todo]="todo"></app-ghost-todo-item-comp>
      </ng-container>
    </ul>
  </ng-template>
</main>
